/* Enter your custom styles here */
.sampleBarcodeScannerButtonWithZebraEB {
	position: absolute !important;
	margin-top: auto;
	margin-right: -2rem;
	z-index: 2;
	right: 2rem;
}

.sampleBarcodeScannerButtonWithZebraEB .sapMBtnInner {
	background-image: none;
	background-color: transparent;
	border-color: transparent;
}

.redBackground {
	background-color: #e97070 !important;
}

.greenBackground {
	background-color: greenyellow !important;
  }

  tr[data-mydata="N"]{
	background: #e97070 !important;
	}
	
	tr[data-mydata="Y"]{
	background: #7cdf5f !important;
	}
	
	


